/*  DASHBOARD COLOURS:
	DEFALUT HOMEPAGE COLOR := #42DCA3
	DARK := #202020
	LIGHTGREY BACKGROUND := #606060
	GREY BACKGROUND := #404040
	VERY LIGHT GREY := #909090
*/

/** USE THIS AS DEFAULT STYLE NAMES */
.margin-unset{
	margin: unset;
}
.no-margin {
	margin: 0;
}
.margin-top-0 {
	margin-top: 0px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-0 {
	margin-bottom:0px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-left-0 {
	margin-left:0px;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-left-15 {
	margin-left: 15px;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-right-0 {
	margin-right:0px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-right-20 {
	margin-right: 20px;
}
.padding-unset{
	padding: unset;
}
.no-padding {
	padding: 0;
}
.padding-top-0 {
	padding-top: 0px;
}
.padding-top-5 {
	padding-top: 5px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-15 {
	padding-top: 15px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-bottom-0 {
	padding-bottom:0px;
}
.padding-bottom-5 {
	padding-bottom: 5px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.padding-left-0 {
	padding-left:0px;
}
.padding-left-5 {
	padding-left: 5px;
}
.padding-left-10 {
	padding-left: 10px;
}
.padding-left-15 {
	padding-left: 15px;
}
.padding-left-20 {
	padding-left: 20px;
}
.padding-right-0 {
	padding-right:0px;
}
.padding-right-5 {
	padding-right: 5px;
}
.padding-right-10 {
	padding-right: 10px;
}
.padding-right-15 {
	padding-right: 15px;
}
.padding-right-20 {
	padding-right: 20px;
}
/** USE THIS AS DEFAULT STYLE NAMES */

#data-panel{
	position: absolute;
	left: 90px;
	width: 100%;
	height: 100%;
    z-index: 0;
}

#control-panel{
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90px;
    z-index: 2;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 22px;
    background-color: #202020;
    z-index: 1;
}

#map {
     height: 455px;
     width: 800px;
     margin: 0;
     padding: 0;
}

.btn.d-btn, .btn.d-btn:active, .btn.d-btn:focus, .btn.d-btn:visited{
	 background-color: #606060;
}
.btn.d-btn:hover, .btn.d-btn.active{
	background-color: #42DCA3;
}

.nav-container{
	background-color: #606060;
	width: 100%;
	height: 100%;
}

.btn.nav-button, .btn.nav-button:active, .btn.nav-button:focus, .btn.nav-button:visited{
	height: 80px;
    width: 100%;
    background-color: #606060;
}
.btn.nav-button:hover, .btn.nav-button.active{
	background-color: #42DCA3;
}
.nav-button > img{
	filter: invert(100%);
	height: 30px;
	width: 40px;
}

.user-select-none{
	user-select: none;
}

.round-corners{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.flex{
	display: flex;
}

.caret{
    filter: invert(100%);
}
.override-corners.active > Div:first-child{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.display-block{
	display: block;
}

.clickable{
	cursor: pointer;
}